{% extends 'base.html.twig' %}

{% block title %}Espace membre - ArcheType{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <h1>Espace membre</h1>
        Bienvenue {{ app.user.prenomUser }} sur votre compte !
        <a href="{{ path('account_password') }}">Modifier mon mot de passe </a>
    </div>

{% endblock %}
