{% extends 'base.html.twig' %}

{% block body %}
    <style>
	    .banner-image {
		    background-image: url('/img/background.jpg');
		    background-size: cover;
	    }
    </style>
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
	    <div class="content text-center">
		    <h1 class="text-white">
			    L’architecture dépasse le simple fait d’innover.<br>
			    C’est une manière d’être.
		    </h1>
	    </div>
    </div>

{% endblock %}
