{% extends 'base.html.twig' %}


{% block head %}

	{% block title %}Architectes
	{% endblock %}

	<meta name="viewport" content="width=device-width , initial-scale=1.0">

{% endblock %}

{% block body %}

<<<<<<<HEAD<linkrel="stylesheet"href="{{asset('css/architecte.css')}}">=======<divclass="img-fond">>>>>>>> develop

<div class="container mt-5 pt-5">
	<h1 id="titre">Nos Architectes</h1>

	<div class="row">
		<div
			class="col-sm">
			{# Architecte 1#}
			<div class="img-txt">
				<img class="image-ronde" src="\img\architectes\archi1col.png" class="image-ronde">

				<<<<<<<HEAD<spanclass="txt">RayanSOLIS</br>ArchitectePaysagiste</span>=======<spanclass="txt">RayanSOLIS</br>Architected'extérieur</span>>>>>>>>develop</div>{#Architecte2#}<divclass="img-txt"><imgclass="image-ronde"src="\img\architectes\archi2col.png"class="image-ronde"><spanclass="txt">GabrielTATE</br>MédiateurArchitectural</span></div></div><divclass="col-sm">{#Architecte3#}<divclass="img-txt"><imgclass="image-ronde"src="\img\architectes\archi5col.png"class="image-ronde"><spanclass="txt">NoorKHAN</br>Architected'interieur</span></div><divclass="img-txt"><imgclass="image-ronde"src="\img\architectes\archi4col.png"class="image-ronde"><spanclass="txt">RowanMORENO</br>Architecteurbaniste</span></div></div></div><divclass="containermt-5pt-5md-8"><h1>Quisommesnous?</h1></br><p>Crééenseptembre2021,ArcheTypedéploiesesarchitectesàvotreserviceafindeproduireuntravailqualitatifdecréationd’espacesprivésoupublics.</p><p>Notreéquiped’architectescompte4artistes,dontlesdomainesd’interventionssediversifientselonvosdiversesréclamations:noussavonsnousadapteretvousproposerunprojetsur-mesure.</p><p>Fonctionnalité,originalité,ergonomieetesthétiquefonctionnentalorsensynergieafindecomblervosattentesetvotrebudget.</p><p>Notrecréativitéetlestalentsdenosarchitectesfontd’euxdesexpertsdansleurdomaine,etpermettentainsideconcevoirdesprojetsdehautequalité.Lacollaborationétroiteentrenosspécialistesrenforceainsilaqualitéduprojetdélivré.</p><p>Nousvousinvitons,vialarubriqueprojet,àmieuxdécouvrirnosœuvres,endécouvrantnostraveauxdéjàréalisés.</p><p>Pourplusd’informations,contactez-nousvialapagedecontactafind’obtenirlesréponsesàvosquestions!</p></div></div>{%endblock%} {# Architecte 4#}
