{% extends 'base.html.twig' %}

{% block title %}Création Publication - ArcheType{% endblock %}

{% block body %}
<div class="container pt-5 mt-5">

    <h1>Create new Publication</h1>

    {{ include('publication/_form.html.twig') }}

    <a href="{{ path('publication_new') }}">back to list</a>
</div>
{% endblock %}
