{% extends 'base.html.twig' %}

{% block title %}A Propos - ArcheType{% endblock %}

{% block body %}

<style>
    h1{
        text-decoration: underline;
    }
    h2{
        padding-top: 1.5em;
        padding-bottom: 0.5em;
    }
</style>

<div class="container d-grid mt-5 pt-5">

<h1 id="titre">
A propos d'ArcheType
</h1>
<h2>
Qui sommes-nous?
</h2>
<p>
ArcheType est un site web pour la cabinet d'architecte du même nom. 
Vous pourrez voir nos créations ainsi que vous connecter afin de réaliser un devis en ligne. 
De plus, découvrez notre rubrique blog pour lire nos derniers articles. 
Enfin, la rubrique offre d'emploi dans laquelle nous publierons 
d'éventuelles propositions d'emploi auxquelles vous pourrez postuler via un formulaire.
</p>

</div>
{% endblock %}