{% extends 'base.html.twig' %}

{% block title %}Insription - ArcheType{% endblock %}

{% block body %}
    <div class="container">

        <h1>S'inscrire</h1>
            {{ form(form) }}
            
    </div>

{% endblock %}
