{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - ArcheType{% endblock %}

{% block body %}

<style>
    h1{
        text-decoration: underline;
    }
    h2{
        padding-top: 1.5em;
        padding-bottom: 0.5em;
    }
</style>

<div class="container d-grid mt-5 pt-5">

<h1 id="titre">
Les mentions légales
</h1>
<h2>
Article 1 :
</h2>
<p>
Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site ArcheType et de ses services.

Ce contrat est conclu entre :

Le gérant du site internet, ci-après désigné « l’Éditeur »,

Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».

Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
</p>

</div>
{% endblock %}